{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ movie['Movie_Name'] }} {% endblock %}</h2>
    <span class="badge badge-warning">{{ movie['Rating'] }}</span>
    <span class="badge badge-secondary">{{ movie['ReleaseYear'] }}</span>
    <span class="badge badge-success">{{ movie['Genres'] }}</span>
    <form action="{{ url_for('addToFavorite', Movie_id=movie['Movie_id']) }}" method="POST">
      <div class = "form-group" align = "right">
        <input type="submit" value="Add to my favorite movies"
                class="btn btn-danger btn-sm"
                onclick="trying to add">
      </div>
    </form>
    <hr>
    <h4><span class="badge badge-dark">Stars: </span></h4>
    <p>{{ movie['stars'] }}</p>
    <h4><span class="badge badge-dark">Director: </span></h4>
    <p>{{ movie['Director'] }}</p>
    <h4><span class="badge badge-dark">Summary: </span></h4>
    <p>{{ movie['summary'] }}</p>

    <h4><span class="badge badge-dark">Similar Movies: </span></h4>
    <style>
    div.scrollmenu {
      background-color: white;
      overflow: auto;
      white-space: nowrap;
    }

    div.scrollmenu a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }

    div.scrollmenu a:hover {
      background-color: #52E0BD;
      color: #3A9981;
    }
    </style>
    <hr>
    <div class="scrollmenu">
      {% for movie in similarMovies %}
           <a href="{{ url_for('movies', Moviepost_id=movie['Movie_id']) }}">
               <h3>{{ movie['Movie_Name'] }}</h3>
           </a>
       {% endfor %}
    </div>
     <hr>
{% endblock %}
