{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['Movie_Name'] }} {% endblock %}</h2>
    <span class="badge badge-warning">{{ post['Rating'] }}</span>
    <span class="badge badge-secondary">{{ post['ReleaseYear'] }}</span>
    <hr>
    <h4><span class="badge badge-dark">Summary: </span></h4>
    <p>{{ post['summary'] }}</p>
    <hr>
    <h4><span class="badge badge-dark">my ratings:</span></h4>
    <h1><span class="badge badge-danger">{{ post['myRatings'] }}</span></h1>
    <hr>
    <h4><span class="badge badge-dark">My Comment: </span></h4>
    <p>{{ post['myComment'] }}</p>
{% endblock %}
